<p id="notice"><%= notice %></p>

<h1>Welcome! This is the Paper Management System
</h1>

<%= link_to 'Author overview', controller: 'authors' %> | 
<%= link_to 'Papers overview', controller: 'papers' %>
